<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
</head>
<body>
    
    <h1>Welcome {{ session[ 'first_name' ] }}</h1>

    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>

    <h1>{{ recipe.name }}</h1>

    <div>

        <p>
            Description: {{ recipe.description }}
        </p>

        <p>
            Instructions: {{ recipe.instructions }}
        </p>

        <p>
            Date created: {{ recipe.created_at }}
        </p>

        <p>
            Last updated on: {{ recipe.updated_at }}
        </p>

    </div>

</body>
</html>